body{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}


#resizeBtn{
  margin-bottom: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

#container{
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  height: 960px;
  border:2px solid #000;
}

.grid-square{
  box-sizing: border-box;
  border: 1px solid #eee;
}

.grid-square:hover {
    background-color: black;
}